
# Ignore typical files built by eclipse (only check in project source)
*.class
build/
target/
.settings/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore this file (ie: don't check in, seems to be a build result
WebPage/simple-medicare-request/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
WebPage/simple-medicare-request/bak


WebPage/simple-medicare-request/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
*.MF
